extends ./layout

block data
	-var test = "여행의 직구"

block chat_list
	+chat_list
block chat_content_list
block request_mode_list
	+request_mode_list
	+request_mode_list
block travel_mode_list
	+travel_mode_list
	+travel_mode_list

//-배열index, 아이디, 내용, 가격, 상태 0~4 0대기 1매칭중 2진행중 3완료, 요청자 수, 문의 수, 나라, 남은 날자, 요청자 얼굴 이미지, 아이템 이미지 
mixin add_request(index, id, content, price, status, req_nums, text_nums, nation, d_day, face, item )
	li.item.col-sm-3.col-xs-6(style='width:262px; height:472px; background-color:white; position:relative; margin:10px; border:2px rgba(227, 227, 227, 1) solid' onclick='travel_click(#{index})')
		img.request2_img(src= item,	alt='물건 이미지',	style='width:100%; height:260px;')
		div(style='position:absolute; left:0px; bottom:0px; width:100%; height:216px; background-color:white;')
			div(style='padding-left:20px; padding-right:20px; padding-top:15px; padding-bottom:15px; font-size:13px;')
				img(src= face alt='얼굴' style='width:30px; height:30px; border-radius:15px;') 
				div.text_blue(style='display:inline; margin-left:5px;')= id
				div.text_dark_gray(style='display:inline') &nbsp님의 요청
			div(style='padding-left:20px; padding-right:20px; height:50px;')= content
			div(style='padding-left:20px; padding-right:20px; padding-top:15px; padding-bottom:20px;')
				img(src='p/person_gray.png' style='width:15px; height:15px') 
				div.text_gray(style='display:inline;')= req_nums
				img(src='p/chat_gray.png' style='width:15px; height:15px; margin-left:20px;')
				div.text_gray(style='display:inline;')= text_nums
				div.text_blue.text_blod(style='position: relative; display:inline; float:right; font-size:20px; bottom:4px;')= price
			div(style='border-top:rgba(227, 227, 227, 1) solid 2px; margin:0px; padding-left:20px; padding-top:14px;')
				- if(status == 0)
					div(style=' text-align:center; display:inline-block; color:rgba(63, 198, 24, 1); border:solid rgba(63, 198, 24, 1) 1px; width:55px;') 대기중
				- else if(status == 1)
					div(style=' text-align:center; display:inline-block; color:rgba(255, 162, 0, 1); border:solid rgba(255, 162, 0, 1) 1px; width:55px;') 매칭중
				- else if(status == 1)
					div(style=' text-align:center; display:inline-block; color:rgba(234, 96, 96, 1); border:solid rgba(234, 96, 96, 1) 1px; width:55px;') 진행중
				- else if(status == 1)
					div(style=' text-align:center; display:inline-block; color:rgba(130, 137, 146, 1); border:solid rgba(130, 137, 146, 1) 2px; padding-left:5px; padding-right:5px;') 완료
				div(style=' text-align:center; display:inline-block; border:solid rgba(204, 204, 204, 1) 1px; padding-left:5px; padding-right:5px; margin-left:3px')= nation	
				div(style=' text-align:center; display:inline-block; border:solid rgba(204, 204, 204, 1) 1px; padding-left:5px; padding-right:5px; margin-left:3px')= 'D-' + d_day
		img(src='' alt='나도 신청' style='position:absolute; top:-5px; right:-5px; width:39px; height:39px')
				
// 커다란 이미지
block main
	// 배경 & 검색 창
	.container-fulid(style='margin-top:60px; position:relative')
		//- div(style='position:absolute; background-color:rgba(0, 0, 0, 0.65); z-index:10; height:100%; width:100% ')
		// 검색창 1
		div(style='font-size:0px; position:absolute; background-color:rgba(255,255,255,1); z-index:15; height:30%; width:80%; top:10%; left:10%;')
			// 국가 선택
			li.dropdown.index_search_bar(style='positio:relative; display:inline-block; background-color:rgba( 255, 255, 255, 1);	height:100%')
				button.btn.btn-default.main_search(type='button', data-toggle='dropdown', style='width:100%;')
					| 전체 국가 
					span.caret
				ul.dropdown-menu(style='text-align:center; width:100%')
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold; ') 한국
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold') 북미
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold') 아시아
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold') 유럽
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold') 아프리카
			li.dropdown.index_search_bar(style='positio:relative; display:inline-block; background-color:rgba( 255, 255, 255, 1); height:100%')
				button.btn.btn-default.main_search(type='button', data-toggle='dropdown', style='width:100%; ')
					| 만료일 
					span.caret
				ul.dropdown-menu(style='text-align:center; width:100%')
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold;') 7일 이내
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold;') 10일 이내
					li
						a(href='#', style='font-size:0.9rem; font-weight:bold;') 30일 이내
					li
						input(type='date', name='enddate', min='2016-10-31', style='font-weight:bold; font-size:0.9rem;')
			// 검색 form
			input#itemanme.form-control.main_search.index_search_bar2(type='itemname', placeholder='상품명', style='')
			// 검색하기 버튼
			button.btn.btn-default.main_search.index_search_bar3(type='button', style='background-color:rgba(45, 159, 255, 1); color:white') 구매요청
		img(src='p/top_111.jpg', width='100%', alt='배경1', style='position:relative; z-index:1; height:100px;')
	.container
		// 아이템 리스트 & 상단 정렬 순 버튼
		.row(style='padding:30px')
			button.btn.btn-default.pull-right(type='btn', style='width:80px')	인기 순
			button.btn.btn-default.pull-right(type='btn', style='width:80px; margin-right:15px')	가격 순
			button.btn.btn-default.pull-right(type='btn', style='width:80px; margin-right:15px')	마감일 순
		//-배열index, 아이디, 내용, 가격, 상태 0~4 0대기 1매칭 중 2결제 3완료, 요청자 수, 문의 수, 나라, 남은 날자, 요청자 얼굴 이미지, 아이템 이미지 
		ul#travel_list.row.list-group(style='list-style-type:none; position:relative; text-align')
			-for(i = 0 ; i < 8 ; i++)
				+ add_request(i, '아이디', '캐나다구스 CANADAGOOS 유럽판 익스페디션 레드', '￦20,000', 1, 1, 2, '남아프리카공화국', 4, 'p/2.jpg', 'p/2.jpg')
		
						
	// 이전 다음 pager
	ul.pager
		li.previous
			a(href='#') Previous
		ul.pagination
			li.active
				a(href='#') 1
			li
				a(href='#') 2
			li
				a(href='#') 3
			li
				a(href='#') 4
			li
				a(href='#') 5
		li.next
			a(href='#') Next

block scripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
		script(type='text/javascript', src='/myjs.js')
		script(type='text/javascript').
			var money = 2312000;
			console.log(money.toLocaleString());
	
